<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet"  href="bootstrap/css/style.css"> -->
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="#" class="navbar-brand" style="font-style:oblique ;font-weight: 600;" >CAR DETAILS</a>
        <button  routerLink="/car-list" class="btn btn-success margin-right:8%">Back</button>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="assets/img/auto-2179220_640.jpg"  class="img-fluid">
                  <h6 style="font-style: italic md-3">Mercedes-Benz AMG GT</h6>
                </div>
                <div class="col-md-8">
                <h2 class="card-title mt-2 color:dark">Car Specifications of Mercedes-Benz AMG GT</h2>
                <br>
                <h5>Ex-Showroom Price: From ₹8.3 crores</h5>
                 <h5>   Number of doors: 5</h5>
                 <h5>  Battery: 6.1 kWh 400 V lithium-ion</h5>
                 <h5>  Cargo volume: 335 L</h5>
                 <h5> Engine cylinder configuration: V engine</h5>
                 <h5>  Dimensions: 5,054 mm L x 1,953 mm W x 1,447 mm H</h5>
                 
<br>
<button  class="btn btn-info">RENT NOW</button>
<br>
                <p><b>AMG® is short for Aufecht, Melcher, and Großaspach, the division of Mercedes-Benz that produces performance vehicles. Named after some of the most important engineers in the company's history, this division creates vehicles with advanced engines, aerodynamic bodies, and high-speed capabilities.</b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="assets\img\swift.jpg"  class="img-fluid">
                  <h6 style="font-style: italic ">Maruti Swift</h6>
                </div>
                <div class="col-md-8">
                <h2 class="card-title mt-2 color:dark">Car Specifications of Maruti Swift</h2>
            
                <br>
                <h5>Ex-Showroom Price: From ₹2.3 crores</h5>
                 <h5>   Number of doors: 5</h5>
                 <h5>  Battery: 6.1 kWh 400 V lithium-ion</h5>
                 <h5>  Cargo volume: 335 L</h5>
                 <h5> Engine cylinder configuration: V engine</h5>
                 <h5>  Dimensions: 5,054 mm L x 1,953 mm W x 1,447 mm H</h5>
<br>
<button  class="btn btn-info">RENT NOW</button>
<br>
                <p><b>The Maruti Swift has 2 Petrol Engine on offer. The Petrol engine is 1497 cc and 1482 cc . It is available with Manual & Automatic transmission.Depending upon the variant and fuel type the Verna has a mileage of 18.6 to 20.6 kmpl . The Verna is a 5 seater 4 cylinder car and has length of 4535mm, width of 1765mm and a wheelbase of 2670mm..</b></p>
                </div>
            </div>
        </div>


    </div>

    <div class="container mt-4">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="assets/img/download.jpg"  class="img-fluid">
                  <h6 style="font-style: italic ">Hyundai Verna</h6>
                </div>
                <div class="col-md-8">
                <h2 class="card-title mt-2 color:dark">Car Specifications of Hyundai Verna</h2>
                
                <br>
                <h5>Ex-Showroom Price: From ₹3.3 crores</h5>
                 <h5>   Number of doors: 5</h5>
                 <h5>  Battery: 6.1 kWh 400 V lithium-ion</h5>
                 <h5>  Cargo volume: 335 L</h5>
                 <h5> Engine cylinder configuration: V engine</h5>
                 <h5>  Dimensions: 5,054 mm L x 1,953 mm W x 1,447 mm H</h5>
<br>
<button  class="btn btn-info">RENT NOW</button>
<br>
                <p><b>The Hyundai Verna has 2 Petrol Engine on offer. The Petrol engine is 1497 cc and 1482 cc . It is available with Manual & Automatic transmission.Depending upon the variant and fuel type the Verna has a mileage of 18.6 to 20.6 kmpl . The Verna is a 5 seater 4 cylinder car and has length of 4535mm, width of 1765mm and a wheelbase of 2670mm..</b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                  <img src="assets\img\front-left-side-47.avif"  class="img-fluid">
                  <h6 style="font-style: italic ">Kia CAR</h6>
                </div>
                <div class="col-md-8">
                <h2 class="card-title mt-2 color:dark">Car Specifications of Kia</h2>
                
                <br>
                <h5>Ex-Showroom Price: From ₹4.3 crores</h5>
                 <h5>   Number of doors: 5</h5>
                 <h5>  Battery: 6.1 kWh 400 V lithium-ion</h5>
                 <h5>  Cargo volume: 335 L</h5>
                 <h5> Engine cylinder configuration: V engine</h5>
                 <h5>  Dimensions: 5,054 mm L x 1,953 mm W x 1,447 mm H</h5>
<br>

<button  class="btn btn-info">RENT NOW</button>
<br>
                <p><b>The Kia has 2 Petrol Engine on offer. The Petrol engine is 1497 cc and 1482 cc . It is available with Manual & Automatic transmission.Depending upon the variant and fuel type the Verna has a mileage of 18.6 to 20.6 kmpl . The Verna is a 5 seater 4 cylinder car and has length of 4535mm, width of 1765mm and a wheelbase of 2670mm..</b></p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>