
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>FAQ</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    <div class="container">
        <h1 class="sec-title">Frequently asked questions?
        </h1>
        <h2 style="font-size: large; font-weight: 500; font-style: oblique;">Find the answers to all your questions</h2>
        <div class="tab">
            <input type="radio" name="acc" id="acc1">
            <label for="acc1">
                <h2>01</h2>
                <h3>What is preventative maintenance?</h3>
            </label>
            <div class="content"><p>Preventative maintenance for your car really comes down to REGULAR maintenance.  This helps to ensure your vehicle is running optimally and helps to avoid larger issues from developing. </p></div>
        
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc2">
            <label for="acc2">
                <h2>02</h2>
                <h3>How do I know that my booking is confirmed?</h3>
            </label>
            <div class="content"><p>Whether a booking is made online or over the phone, a confirmation would be sent to you via e-mail, which would include your reservation number and travel details.</p></div>
        
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc3">
            <label for="acc3">
                <h2>03</h2>
                <h3>Do I need to register on your site to book car?</h3>
            </label>
            <div class="content"><p>No. You can use our service fully without the need to register. You just need to provide your details at the time of booking.</p></div>
        
        </div>

        <div class="tab">
            <input type="radio" name="acc" id="acc4">
            <label for="acc4">
                <h2>04</h2>
                <h3>How do  I unlock my car</h3>
            </label>
            <div class="content"><p>"Location without fleet (KLE booking): Filling checklists is easy! Now you can fill your pick up checklist via the Zoomcar App. Just login to the App, select your live booking from the My bookings page and start. 1. Fill Exterior cleanliness and damage reporting with images.</p></div>
        </div>

    

    <div class="tab">
        <input type="radio" name="acc" id="acc5">
        <label for="acc5">
            <h2>05</h2>
            <h3>How do I extend my boking time?</h3>
        </label>
        <div class="content"><p>"Extension is subject to vehicle availability and extension can be done before the booking end time. To extend the booking you have to 1. Login to Zoomcar application </p></div>
    </div>

    <div class="tab">
        <input type="radio" name="acc" id="acc6">
        <label for="acc6">
            <h2>06</h2>
            <h3>Can I get a car for any usecase?</h3>
        </label>
        <div class="content"><p>Below are the use-cases for which the cars be alloted: - Transportation for Doctors/Nurses/Paramedics - Authorized personnel designated by the government - Medical Emergencies - Grocery or Pharmacy Visits - Visiting bank (For Bangalore only) - Shifting house (For Bangalore only)</p></div>
    </div>

</div>

</body>
</html> 